<footer class="footer bg-dark text-light mb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h5 class="mt-4">About Us</h5>
          <p>College Duniya aims to create a vibrant online marketplace tailored to the needs of college students, facilitating the exchange of old products while promoting affordability, sustainability, and community engagement.</p>
        </div>
        <div class="col-md-4">
          <h5 class="mt-4">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/products">Home</a></li>
            <li><a href="/products">Shop</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: info@collegeDuniya.com</p>
          <p>Phone: +91 9473942916</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2025 Your Ecommerce Company. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-end">
            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  