<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="http://localhost:8080/socket.io/socket.io.js"> </script>
    <script defer src="client.js"></script>
   <link rel="stylesheet" href="/index.css">
    <title>Ecommerce Website</title>
</head>
<body>
   

    <!-- <h1> Ecommerce</h1> -->
    <%- body %>
 
</body>
</html>